@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");

main {
  font-family: "Comic Neue", cursive;
}

td,
th {
  border: 1px solid black;
  padding: 10px 10px;
}

